.map-widget { height: 100%; display: flex; flex-direction: column; }
.map-image-container {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}